<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis repellat recusandae fugiat mollitia saepe, quisquam repudiandae consectetur iure at accusantium. Iusto, quos esse! Officiis inventore ullam natus iste voluptatem obcaecati!</p>
            <hr>
            <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque saepe in hic a quam nemo delectus, atque</p>
        </div>
    </div>
</div>
